<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Some random title</title>
</head>

<body>

<div align="center"><h1>Welcome to my webpage!</h1></div>

<div align="center"><%= image_tag "2ndPlace.jpg", size: "300x240" %></div>

<div align="center"><%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %> </div>

<hr align="center" width="1100">

<table align="center">
	<tr>
		<td width="500" style="border-right: solid 1px"><p>This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. </p></td>
		<td width="500" style="padding-left: 20px">This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. This is paragraph. </td>
	</tr>
</table>

<hr align="center" width="1100">

<footer align="center">
	<p>This is footer! </p>
	
	<table align="center">
		<tr>
			<td>
				<ul>
					<li> <a href="#">Link 1</a> </li>
					<li> <a href="#">Link 2</a> </li>
				</ul>
			</td>
			<td>
				<ul>
					<li> <a href="#">Link 3</a> </li>
					<li> <a href="#">Link 4</a> </li>
				</ul>
			</td>
			<td>
				<ul>
					<li> <a href="#">Link 5</a> </li>
					<li> <a href="#">Link 6</a> </li>
				</ul>
			</td>
		</tr>
	
</footer>

</body>